<!-- <p-toast></p-toast> -->

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success p-mr-2"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="conceptos" [rows]="10" [scrollable]="true" scrollDirection="Horizontal" [paginator]="true" [rowHover]="true" dataKey="id" currentPageReportTemplate="Mostrando desde {first} hasta {last} de {totalRecords} datos" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Buscar</h5>
                <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" placeholder="Filtrar" />
        </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">ID
                    <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="nombre">
                    Nombre
                    <p-sortIcon field="nombre"></p-sortIcon>
                </th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-conceptos>
            <tr>
                <td>
                    <p-tableCheckbox [value]="conceptos"></p-tableCheckbox>
                </td>
                <td>{{ conceptos.id }}</td>
                <td>{{ conceptos.descripcion }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>